<!doctype html>
<html class="no-js">
<!--suppress HtmlFormInputWithoutLabel -->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=9,10,11">
  <meta charset="utf-8">
  <title>Timesheets Plus</title>
  <meta name="description" content="Used to ease time recording">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- favicon.ico from http://findicons.com/icon/444035/full_time?id=444149
       Original author: Patricia Clausnitzer
       License: Creative Commons Attribution (by) -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <style type="text/css">
    input.ng-invalid {
      background-color : #FA787E;
    }
  </style>
</head>
<body ng-app="gteApp">

<div ng-controller="TimesheetCtrl" class="container-fluid ng-cloak">
  <div class="row" ng-show="onTopOfMercury && detectIE" style="margin-top: -20px; background-color: red; margin-bottom: 45px">
    <div style="text-align: center">
      <h1>Due to current bugs in IE11, please use export button in timesheet application and then the import bookmarklet or use another browser, like Chrome from
          the <a href="https://appstore.ey.net/">EY AppStore</a>.</h1>
    </div>
  </div>
  <div class="row" ng-show="onTopOfMercury" style="margin-top: -20px; background-color: #ffe600">
    <div style="text-align: center">
      <button ng-click="importToMercury(rowsForGTE)" style="width: 30%; margin-right: 10%; margin-top:15px; margin-bottom: 15px" class="btn btn-primary">
        Transfer hours to Mercury
      </button>
      <button ng-click="printTimesheet()" style="width: 30%; margin-right: 10%" class="btn btn-primary">Print timesheet as currently recorded in Mercury</button>
      <button ng-click="closeOverlay()" style="width: 15%" class="btn btn-danger">Close</button>
    </div>
  </div>
  <div ng-hide="onTopOfMercury" style="text-align: right; width:100%;margin-top:-20px;">Please direct feedback, problem reports and suggestion to <a
      href="mailto:gsa.tax.mercury@de.ey.com?subject=Timesheet Plus: ">GSA Tax moves to Mercury</a>. Thank you.
    <a href="https://share.ey.net/sites/TimesheetPlus" target="_blank">Help & Instructions</a>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped">
      <thead>
      <tr class="info">
        <th colspan="2">Timer</th>
        <th><span style="cursor: pointer;margin-right:0.5em;" ng-click="sortEngagement(rowsForGTE);" tooltip="sort rows in ascending order"><i class="glyphicon glyphicon-sort-by-attributes"></i></span>Engagement <span ng-click="editTypeaheadEntries = !editTypeaheadEntries" style="cursor: pointer"><i class="glyphicon glyphicon-wrench"></i></span></th>
        <th>Activity <span ng-click="editTypeaheadEntries = !editTypeaheadEntries" style="cursor: pointer"><i class="glyphicon glyphicon-wrench"></i></span></th>
        <th>Description <span ng-click="editTypeaheadEntries = !editTypeaheadEntries" style="cursor: pointer"><i class="glyphicon glyphicon-wrench"></i></span></th>
        <th style="width: 5em">Loc</th>
        <th style="width: 5em">Role</th>
        <th class="weekend" style="width: 5em" ng-hide="state.hideWeekend">Sat</th>
        <th class="weekend" style="width: 5em" ng-hide="state.hideWeekend">Son</th>
        <th class="weekday" style="width: 5em">Mon</th>
        <th class="weekday" style="width: 5em">Tue</th>
        <th class="weekday" style="width: 5em">Wed</th>
        <th class="weekday" style="width: 5em">Thu</th>
        <th class="weekday" style="width: 5em">Fri</th>
        <th style="width: 5em" id="thTotalColumn">
          Total
          <span ng-click="roundRows(rowsForGTE)" tooltip-placement="bottom" tooltip="distribute times between days to get only one decimal place" style="cursor: pointer">
            <i class="glyphicon glyphicon-transfer"></i>
          </span>
        </th>
        <th style="width: 5.5em">Delta</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in rowsForGTE">
        <td style="vertical-align: middle; text-align: center; width: 1px;" tooltip="remove row" tooltip-placement="right" tooltip-append-to-body="1">
          <span ng-click="rowsForGTE.splice($index, 1)" style="cursor: pointer"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td style="width:7.5em">
          <stopwatch elapsed-time="row.totalTime" toggle-callback="callbackToggleFactory(row, 'totalTime')"
                     start-time="row._startTime" running="row._running">
          </stopwatch>
        </td>
        <td>
          <ng-form name="engagementForm">
            <input name="engagement" type="text" ng-model="row.engagement" ng-pattern="/^(.*(\s|[\(]))?\w-\w{8}((\s|[\)]).*)?$/" required
                   typeahead="engagement for engagement in typeahead.engagement | filter:$viewValue | limitTo:8" style="width: 100%">
              <span ng-show="engagementForm.engagement.$error.pattern && (engagementForm.engagement.$viewValue.length > 12)">
                <b>X-XXXXXXXX - Description</b>
              </span>
          </ng-form>
        </td>
        <td>
          <ng-form name="activityForm">
            <input name="activity" type="text" ng-model="row.activity" ng-pattern="/^[\w@]{4}(:[\w@]{4})?( - .*)?$/" required
                   typeahead="activity for activity in typeahead.activity | filter:$viewValue | limitTo:8" style="width: 100%">
              <span ng-show="activityForm.activity.$error.pattern && (activityForm.activity.$viewValue.length > 6)">
                <b>XXXX - Description</b> or <b>YYYY:XXXX - Description</b>,<br>eg. with YYYY = PATT or ACTT
              </span>
          </ng-form>
        </td>
        <td tooltip-append-to-body="1" tooltip="{{row.description}}" tooltip-placement="left">
          <input resize-input-to-length type="text" ng-model="row.description"
                 typeahead="description for description in typeahead.description | filter:$viewValue | limitTo:8" style="width: 100%">
        </td>
        <td><input type="text" ng-model="row.location1" typeahead="location1 for location1 in typeahead.location1 | filter:$viewValue | limitTo:8" style="width: 100%"></td>
        <td><input type="text" ng-model="row.location2" typeahead="location2 for location2 in typeahead.location2 | filter:$viewValue | limitTo:8" style="width: 100%"></td>
        <td class="weekend" ng-hide="state.hideWeekend"><input type="number" step="0.1" ng-model="row.saturday" style="width: 100%"></td>
        <td class="weekend" ng-hide="state.hideWeekend"><input type="number" step="0.1" ng-model="row.sunday" style="width: 100%"></td>
        <td class="weekday"><input type="number" step="0.1" ng-model="row.monday" style="width: 100%"></td>
        <td class="weekday"><input type="number" step="0.1" ng-model="row.tuesday" style="width: 100%"></td>
        <td class="weekday"><input type="number" step="0.1" ng-model="row.wednesday" style="width: 100%"></td>
        <td class="weekday"><input type="number" step="0.1" ng-model="row.thursday" style="width: 100%"></td>
        <td class="weekday"><input type="number" step="0.1" ng-model="row.friday" style="width: 100%"></td>
        <td style="text-align:center">
          {{row.saturday + row.sunday + row.monday + row.tuesday + row.wednesday + row.thursday + row.friday | number:1}}
            <span ng-click="roundRow(row)" tooltip="distribute times between days to get only one decimal place" style="cursor: pointer">
              <i class="glyphicon glyphicon-transfer"></i>
            </span>
        </td>
        <td style="text-align:center">
          {{row.saturday + row.sunday + row.monday + row.tuesday + row.wednesday + row.thursday + row.friday - row.totalTime | number:2}}
            <span ng-hide="$index === 0" ng-click="swapRows(rowsForGTE, $index - 1, $index)" tooltip-placement="left" tooltip="move row up" style="cursor: pointer">
              <i class="glyphicon glyphicon-arrow-up"></i>
            </span>
            <span ng-show="$index === 0" ng-click="swapRows(rowsForGTE, $index + 1, $index)" tooltip-placement="left" tooltip="move row down" style="cursor: pointer">
              <i class="glyphicon glyphicon-arrow-down"></i>
            </span>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr class="info">
        <th colspan="2" style="text-align:center">{{getTotalFor(rowsForGTE, 'totalTime') | number:2}}</th>
        <th colspan="3" id="drop-zone" class="drop-zone" on-file="importJson">
          <span ng-show="value" ng-repeat="(key, value) in aggregateByType(rowsForGTE)" class="label label-default" style="margin-right:10px;padding-top:6px;padding-bottom:6px;">
            {{key}} <span class="badge" style="background-color:#3071a9">{{value | number:1}}</span>
          </span>
          <div class="pull-right">
            <span ng-hide="state.saveInProgress">
              Select sheet
              <select ng-options="x for x in sheetStoreTags" ng-model="tagOfSheet" ng-change="tagOfSheetSelected(tagOfSheet, '{{tagOfSheet}}')"></select>
              <span ng-click="downloadJson()" tooltip="To import exported sheets, just drag and drop them on this table cell">
                <i class="glyphicon glyphicon-cloud-download"></i>
              </span>
            </span>
            <span ng-show="state.saveInProgress">
              Name
              <input style="font-size: 80%" type="text" ng-model="tagOfNewSheet">
              <button class="btn btn-xs btn-success" ng-click="saveSheet(tagOfNewSheet)">Save</button>
              <button class="btn btn-xs btn-default" ng-click="state.saveInProgress = false">Cancel</button>
            </span>
          </div>
        </th>
        <th colspan="2" style="text-align: center">
          <button class="btn btn-primary btn-xs" ng-click="editTypeaheadEntries = !editTypeaheadEntries">
            Setup & Instructions
          </button>
        </th>
        <th style="text-align:center" class="weekend" ng-hide="state.hideWeekend">{{getTotalFor(rowsForGTE, 'saturday') | number:1}}</th>
        <th style="text-align:center" class="weekend" ng-hide="state.hideWeekend">{{getTotalFor(rowsForGTE, 'sunday') | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotalFor(rowsForGTE, 'monday') | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotalFor(rowsForGTE, 'tuesday') | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotalFor(rowsForGTE, 'wednesday') | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotalFor(rowsForGTE, 'thursday') | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotalFor(rowsForGTE, 'friday') | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotal(rowsForGTE) | number:1}}</th>
        <th style="text-align:center" class="weekday">{{getTotalDiff(rowsForGTE) | number:2}}</th>
      </tr>
      </tfoot>
    </table>
    <div style="text-align: center">
      <button ng-click="deleteAllRows(rowsForGTE)" style="width: 18%; margin-right: 3%" class="btn btn-danger">Delete all rows</button>
      <button ng-click="addRow()" style="width: 18%; margin-right: 3%" class="btn btn-primary">Add row</button>
      <span style="width: 18%; margin-right: 3%">
        <span ng-click="refMomentForExport.add(-1, 'week')" style="cursor: pointer"><i class="glyphicon glyphicon-chevron-left"></i></span>
        <button ngclipboard ngclipboard-text="jsonForMercuryAsText(rowsForGTE, refMomentForExport)"
                ngclipboard-success="exportForMercurySuccess(e)" ngclipboard-error="exportForMercuryError(e)"
                id="mercury" class="btn btn-primary">
          Export for Mercury for week {{refMomentForExport.startOf('week').add(1, 'day').format('YYYY-MM-DD')}}
        </button>
        <span ng-click="refMomentForExport.add(1, 'week')" style="cursor: pointer"><i class="glyphicon glyphicon-chevron-right"></i></span>
      </span>
      <button ng-click="clearTimes(rowsForGTE)" style="width: 18%" class="btn btn-warning">Clear times</button>
    </div>
  </div>
  <div class="row" style="border-top: 5px groove;margin-top:10px" ng-show="editTypeaheadEntries">
    <div class="col-md-12" style="margin-top: 7px;">
      For instructions, discussions regarding to tool and further information please visit
      <a href="https://share.ey.net/sites/TimesheetPlus" target="_blank">our community site in SharePoint</a>.
    </div>
  </div>
  <div class="row" style="border-top: 5px groove;margin-top:10px" ng-show="editTypeaheadEntries">
    <div class="col-md-3" ng-repeat="(key, entries) in typeahead">
      <h3 style="text-decoration: underline;text-align: center">{{key[0].toUpperCase() + key.substring(1)}}</h3>
      <table class="table table-bordered table-striped">
        <thead>
        <tr class="info">
          <th>{{key[0].toUpperCase() + key.substring(1)}}</th>
          <th>used on</th>
        </tr>
        </thead>
        <tr ng-repeat="entry in entries">
          <td>
            <span ng-click="removeTypeaheadEntry(key, $index, entry)"><i class="glyphicon glyphicon-remove"></i></span>
            {{entry}}
          </td>
          <td style="white-space: nowrap">{{typeaheadLastUsed[key][entry].substring(0, 10)}}</td>
        </tr>
        <tr>
          <td colspan="2" style="vertical-align: middle">
            <textarea ng-model="newEntries" style="width: 100%"></textarea>
            <button class="btn btn-primary" style="width:100%" ng-click="addTypeaheadEntries(key, newEntries)">Add</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-12" style="border-top: 5px groove;margin-top:10px">
      <div style="margin-top:15px">
        Please right click on the following buttons within Internet Explorer and select "Add to favorites ..." to install the bookmarklet.
        Otherwise you can also just drag it to your favorites bars:<br>
        <a class="btn btn-warning btn-large"
           ng-href="javascript:var r = new XMLHttpRequest(); r.open('GET', '{{originOfMyself}}/scripts/importToMercury.js', false); r.send(); eval(r.responseText);">
          Import to Mercury
        </a>
        <a class="btn btn-warning btn-large" ng-hide="noHTTPS"
           ng-href="javascript:var bURL = '{{originOfMyself}}', frm = document.createElement('iframe'), f = function (e) {if (e.origin === bURL) {eval(e.data.f)(e);}}; frm.src = bURL+'/export.html'; document.body.appendChild(frm);window.addEventListener('message', f);">
          Print timesheet from Mercury
        </a>
        <a class="btn btn-warning btn-large" ng-hide="detectIE || noHTTPS"
           ng-href="javascript:var bURL = '{{originOfMyself}}', frm = document.createElement('iframe'), f = function (e) {if (e.origin === bURL) {eval(e.data.f)(e);}}; frm.src = bURL; document.body.appendChild(frm); window.addEventListener('message', f);">
          Activate Timesheet Plus
        </a>
        <a class="btn btn-warning btn-large" ng-hide="noHTTPS"
           ng-href="javascript:var bURL = '{{originOfMyself}}', frm = document.createElement('iframe'), f = function (e) {if (e.origin === bURL) {eval(e.data.f)(e);}}; frm.src = bURL+'/searchWBS.html'; document.body.appendChild(frm);window.addEventListener('message', f);">
          WBS Search within Mercury
        </a>
        <br>
        Please note that easier import is only available (aka Activate Timesheet Plus bookmarklet) if you start this application in another browser, e.g.
        Chrome, which you can download from the <a href="https://appstore.ey.net/">EY AppStore</a>.
        <div ng-show="noHTTPS">
          <strong>You are using the tool from an deprecated HTTP only place. Please consider changing to the "official" internal version at
            <a ng-href="{{originOfMyself}}">{{originOfMyself}}</a>. Depending on your browser it will support a nice interface and timesheet printing.</strong>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="border-top: 5px groove;margin-top:10px">
      <div style="margin-top:15px">
        If copy button does not work, please copy text from the following field to clipboard prior to importing to Mercury:
        <input type="text" value="{{jsonForMercury(rowsForGTE, refMomentForExport)}}">
      </div>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/clipboard/dist/clipboard.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
<!-- endbower -->
<script type="application/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="application/javascript" src="bower_components/moment/min/moment.min.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script type="application/javascript" src="scripts/ui-bootstrap-tpls-0.9.0.js"></script>
<script type="application/javascript" src="scripts/app.js"></script>
<script type="application/javascript" src="scripts/directiveStopWatch.js"></script>
<script type="application/javascript" src="scripts/controllerMain.js"></script>
<script type="application/javascript" src="scripts/controllerExport.js"></script>
<script type="application/javascript" src="scripts/controllerSearchWBS.js"></script>
<!-- endbuild -->

</body>
</html>
